/*External Design for Online Student Performance Monitoring System*/
/**@author Darryl
  @copyright 2014**/
* 
{ 
	margin : 0px;
	padding : 0px;
}

body 
{
   	background-color : RGB(30, 30, 30);
	background-image : url('../res/TES_BG.jpg');
	background-size : 100% 100%;
	background-attachment : fixed;
	
	scrollbar-face-color : RGB(70, 70, 70);
	scrollbar-shadow-color: black;
	scrollbar-track-color: RGB(140, 140, 140);
	scrollbar-arrow-color: RGB(50, 50, 50);

	/*background-image: url('res/TES_BACKGROUND.jpg');
	background-repeat:  no-repeat; 
	background-position: center center; 
	background-attachment:fixed;*/
   /* -webkit-filter: blur(100px) grayscale(50%);*/
	/*margin: 0px auto;*/

}

@font-face 
{
    font-family: Gotham;
    src: url('../res/Gotham.woff')
}

hr
{
	border : 1px solid black;
}

::-webkit-scrollbar 
{  
    width: 15px;
}   

::-webkit-scrollbar:horizontal 
{  
    height: 15px;
}  

::-webkit-scrollbar-track 
{  
    background-color : RGB(140, 140, 140);  
    border-left : 1px solid RGB(140, 140, 140);  
}  

::-webkit-scrollbar-thumb 
{  
    background-color: RGB(70, 70, 70);
	border : 1px solid RGB(140, 140, 140);
}  

::-webkit-scrollbar-thumb:hover 
{  
    background-color : RGB(50, 50, 50);
} 

.no-margin
{
	margin:0px;
}
.no-padding
{
	padding:0px;
}
.remove-left-padding
{
	padding-left: -15px;
}
.margin-top-30
{
	margin-top: 30px;
}
/** [PARTS - NAVI] **/

.wrapper
{
	width:100%;
	
}
.header-wrapper
{
width : 100%;
height:72px;
margin-bottom:0px;
}
.header {
    background: none repeat scroll 0% 0% #FFFFFF;
    padding: 4px 0px 0px;
	width : 100%;
    border-color: #e7e7e7;
	border-radius: 4px;
	height:72px;
	margin:0px auto;
	position:fixed;
	z-index:80;
}

.header-inner
{
	/*border: 1px solid #2951a3;*/
	height:63px;	
}
.header-content
{
	margin: 0px auto;
	width:100%;
} 

.shadow
{
	 box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.21);
}

.wrapper-separator-holder
{
	height:30px;
	width:100%;
	margin: 0px auto;
}

.wrapper-separator
{
	
	background-color : RGB(30, 30, 30);
	background-image : url('../res/TES_BACKGROUND.jpg');
	background-size : 100% 100%;
	background-attachment : fixed;
	
	scrollbar-face-color : RGB(70, 70, 70);
	scrollbar-shadow-color: black;
	scrollbar-track-color: RGB(140, 140, 140);
	scrollbar-arrow-color: RGB(50, 50, 50);

	z-index:50;
	position:fixed;
	height:inherit;
	width:inherit;

}

.viewport
{
/*position:relative;*/
}

.left-wrapper
{

/*height:100%;*/
width:220px;

}
.right-wrapper
{
position:relative;
left:220px;
width:740px;
}
.content
{
	margin: 0px 10px 10px 10px;
	
}

/** HomePage **/
#homepage-banner
{

	height: 50px;
	background-color:#3C8DBC;
	color: #F6F6F6;
}

#login-container
{
	margin-top:60px;
}

#login-set
{
	
	height: 300px;
	background: rgba(180, 218, 254, 0.5);
	border-radius: 4px;
	
}

.login-banner
{

	height: 80px;
	background: rgba(204, 204, 255, 0.9);
}


#login
{

	height:180px;
	background-color:#cfe2f4;
	border-radius: 5px;
	
}

#login-title
{
    color: #333;
    font-family: "Helvetica Neue",Helvetica,Arial;
}

#fs_border
{

  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  -webkit-box-shadow: 1px 1px 1px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 1px 1px 1px rgba(50, 50, 50, 0.75);
  box-shadow: 1px 1px 1px rgba(50, 50, 50, 0.75);
}

fieldset{
min-height:180px;
background: rgba(238, 240, 242, 0.5);
line-height: 1.6em;
margin-top:20px;
padding-top:20px;

}


/** Teachers Page **/
#nav-search{
float:left;
display:inline-block;
margin-top:-2px;
margin-left:5px;
}

#search-icon
{
float:left;
display:inline-block;
margin-top:20px;
margin-left:5px;
}

#user
{
display:inline-block;
margin-top:8px;
margin-left:15px;
}
#user-dropdown
{

display:inline-block;
margin-top:10px;
margin-left:5px;
}
.left-column
{
background-color: transparent;
border: 0px none;
margin-bottom: 14px;
width:220px;
position:fixed
}

#thumbnail-teacher{
    background-color: #FFF;
    border-radius: 2px;
    box-shadow: 0px 1px 5px 0px rgba(56, 61, 72, 0.21);
    margin-bottom: 14px;
}

#thumbnail-teacher-img
{
margin: 5px 5px 5px 5px;
height:70px;
width:70px;
border-top-left-radius: 2px;
border-top-right-radius: 2px;
border-bottom-right-radius: 2px;
border-bottom-left-radius: 2px;
}

.profile-teacher-img
{
margin: 5px 5px 5px 5px;
height:50px;
width:50px;
border-top-left-radius: 2px;
border-top-right-radius: 2px;
border-bottom-right-radius: 2px;
border-bottom-left-radius: 2px;
}

#greetings-teacher
{
	display:inline-block;
	padding:1px;
}

#subject-list{
    background-color: #FFF;
	border-radius: 2px;
	box-shadow: 0px 1px 5px 0px rgba(56, 61, 72, 0.21);
	margin-bottom: 14px;
}


#subject-list-title
{

	background-color: #efefef;
	border-radius: 2px 2px 0px 0px;
	overflow: visible;
}



.right-column
{
	background-color: transparent;
	border-radius: 2px;
	width: 700px;
	margin-left:20px;
	
	
}


.right-column-fixed
{

position:fixed;
width:inherit;
z-index:50;

}

#postbox-container
{

background-color: #FFF;
border-radius: 2px;
box-shadow: 0px 1px 5px 0px rgba(56, 61, 72, 0.21);

}

.choose-file-container
{
	position:relative;
}

.post-separator
{
	
	background-color : RGB(30, 30, 30);
	background-image : url('../res/TES_BACKGROUND.jpg');
	background-size : 100% 100%;
	background-attachment : fixed;
	
	scrollbar-face-color : RGB(70, 70, 70);
	scrollbar-shadow-color: black;
	scrollbar-track-color: RGB(140, 140, 140);
	scrollbar-arrow-color: RGB(50, 50, 50);

	height:181px;
	width:700px;
	margin: 0px auto;
	z-index:49;
	position:fixed;


}
#post-lecture
{
display:inline-block;
box-shadow: 0px 1px 5px 0px rgba(56, 61, 72, 0.21);

}

.post-lecture-image
{
margin: 5px 5px 5px 5px;
height:120px;
width:120px;
border-top-left-radius: 2px;
border-top-right-radius: 2px;
border-bottom-right-radius: 2px;
border-bottom-left-radius: 2px;

}

#create-exercise
{
display:inline-block;
float:left
}
.placeholder-container {
    position: relative;
    border: 1px solid #D5DBE1;
    background: none repeat scroll 0% 0% #F7F8F9;
    box-shadow: 0px 1px 3px rgba(100, 107, 116, 0.08) inset;
    padding: 0px;
    margin: 0px;
    border-radius: 2px;
    transition-property: #000, border, box-shadow;
    transition-duration: 0.2s;
    line-height: 0;
}

.placeholder-input	
{
min-height: 68px;

border: 0px none;
width:97%;
box-sizing: border-box;
padding: 5px 10px;
margin:10px;
overflow: hidden;
border-radius: 2px;
background: none repeat scroll 0% 0% #F4F5F7;
box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1) inset;
padding: 3px;
outline: 0px none;
resize: none;
transition-property: #000, border, box-shadow;

}

#post-container-relative
{
	margin-bottom: 14px;
	position:relative;
	top:209px;
	width:inherit;


}

#post-container
{
background-color: transparent;
border-radius: 2px;
box-shadow: 0px 1px 5px 0px rgba(56, 61, 72, 0.21);
width:700px;
}

.post-messages
{
	background-color: #FFF;
    border-radius: 2px;
    box-shadow: 0px 1px 5px 0px rgba(56, 61, 72, 0.21);
    margin-bottom: 14px;

}

.post-message-img
{
margin: auto auto;
height:50px;
width:50px;
border-top-left-radius: 2px;
border-top-right-radius: 2px;
border-bottom-right-radius: 2px;
border-bottom-left-radius: 2px;
}

.message-author
{
	display:inline-block;
	margin-left:7px;
	vertical-align:top;
	text-decoration:none;
}

.timespan
{

	display:inline;
	clear:left;
	font-size: 10px;
	margin-left:7px;
	text-decoration:none;
}

.sample_lecture
{
margin: 5px 5px 5px 5px;
height:200px;
width:600px;
border-top-left-radius: 2px;
border-top-right-radius: 2px;
border-bottom-right-radius: 2px;
border-bottom-left-radius: 2px;


}

.attendance
{
margin: 5px 5px 5px 5px;
height:500px;
width:700px;
border-top-left-radius: 2px;
border-top-right-radius: 2px;
border-bottom-right-radius: 2px;
border-bottom-left-radius: 2px;
}
.post-teacher
{

	margin: 0px 0px 0px 50px;
	width: 599px;
	display:inline;
	padding:1px;

	
}

#post-title-fixed
{

	position:fixed;
	top:281px;
	width:inherit;
	z-index:10;

}

#post-title
{
padding: 15px 20px;
border-bottom: 1px solid #DFE4E8;
border-radius: 2px 2px 2px 2px;
box-shadow: 0px 1px 5px 0px rgba(56, 61, 72, 0.21);
background: rgba(204, 204, 255, .9);
font: 18px Helvetica Neue,Helvetica,Arial,sans-serif;
color: #333;
margin: 0px;
padding: 0px;

width:700px;
height:30px;
}

#message-container
{
	width:700px;

}



.announcement-container
{
 background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 5px 0 rgba(56, 61, 72, 0.21);
    margin-bottom: 14px;
}
#send-button
{

float:right;
display:inline-block;
}

/** Progress Page**/

#grade-level-list{
    background-color: #FFF;
	border-radius: 2px;
	box-shadow: 0px 1px 5px 0px rgba(56, 61, 72, 0.21);
	margin-bottom: 14px;
}

#grade-level-title
{
	font-size: 15px;
	font-weight: 400;
	background: none repeat scroll 0% 0% #757F93;
	border-radius: 2px 2px 0px 0px;
	color: #FFF;
	overflow: visible;
}

#student-progress-container
{
background-color: transparent;
border-radius: 2px;
box-shadow: 0px 1px 5px 0px rgba(56, 61, 72, 0.21);
margin-bottom: 14px;
position:relative;
top:80px;
}

.student-list-title-holder
{
border-radius: 2px 2px 0px 0px;
box-shadow: 0px 1px 5px 0px rgba(56, 61, 72, 0.21);
}

#student-list-title
{
padding: 15px 20px;
background-color: #FFF;
border-bottom: 1px solid #DFE4E8;
border-radius: 4px 4px 4px 4px;
box-shadow: 0px 1px 5px 0px rgba(56, 61, 72, 0.21);

font: 20px Helvetica Neue,Helvetica,Arial,sans-serif;
color: #383D48;
margin: 0px;
padding: 0px;
}

.sidebar-form {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 0px solid #555;
  margin: 10px 10px;
  
}

.progress-student-container
{
	float:left;
	width:225px;
	height:150px;
	background-color: #FFF;
    border-radius: 3px;
    box-shadow: 0px 1px 5px 0px rgba(56, 61, 72, 0.21);
    margin-left:5px;
    margin-right: 3px;
    margin-bottom: 5px;

}

#student-search-form {
	margin:0;
	padding: 0;
}
 
#student-search-form .search-query 
{
    padding-right: 3px;
    padding-right: 4px \9;
    padding-left: 3px;
    padding-left: 4px \9;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */

    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: width  0.2s ease-in-out;
    -moz-transition:width  0.2s ease-in-out;
    -o-transition: width  0.2s ease-in-out;
    transition: width  0.2s ease-in-out;
}
 
    .search-query:focus + button {
        z-index: 3;   
    }   
    .search-query:focus{
        width: 260px;
    }   

/*.progress-student-img-holder
{
	
}*/

.progress-student-details
{
	text-align: center 

}

.student-img
{
	display:block;
	margin:auto auto;
	height:80px;
	width:80px;
	border-radius: 50%;
}
.student-name
{
	
	width: 599px;
	display:inline;
	padding:1px;

	
}
.student-lrn
{

	font-size: 12px;
	color:#9197a3;
}


/**Encoding Page**/
#encoding-container
{
background-color: transparent;
border-radius: 2px;
box-shadow: 0px 1px 5px 0px rgba(56, 61, 72, 0.21);
margin-bottom: 14px;

}

#encoding-page-title
{
padding: 15px 20px;
background-color: #FFF;
border-bottom: 1px solid #DFE4E8;
border-radius: 2px 2px 0px 0px;
box-shadow: 0px 1px 5px 0px rgba(56, 61, 72, 0.21);

    font: 20px Helvetica Neue,Helvetica,Arial,sans-serif;
    color: #383D48;
    margin: 0px;
    padding: 0px;
}

.encoding-page-space
{
	background-color: #FFF;
    border-radius: 2px;
    box-shadow: 0px 1px 5px 0px rgba(56, 61, 72, 0.21);
    margin-bottom: 14px;

}
.process-img
{
margin: 5px 5px 5px 5px;
height:500px;
width:700px;
border-top-left-radius: 2px;
border-top-right-radius: 2px;
border-bottom-right-radius: 2px;
border-bottom-left-radius: 2px;
}

/**Student Page**/
#student-container
{
background-color: transparent;
border-radius: 10px;
box-shadow: 0px 1px 5px 0px rgba(56, 61, 72, 0.21);

}

.student-title
{
	padding: 15px 20px;
	background-color: #FFF;
	border-bottom: 1px solid #DFE4E8;
	border-radius: 2px 2px 0px 0px;
	box-shadow: 0px 1px 5px 0px rgba(56, 61, 72, 0.21);

    font: 20px Helvetica Neue,Helvetica,Arial,sans-serif;
    color: #383D48;
    margin: 0px;
    padding: 0px;
    margin-bottom: 14px;

}

.student-page-space
{
	background-color: #FFF;
    border-radius: 2px;
    box-shadow: 0px 1px 5px 0px rgba(56, 61, 72, 0.21);
    margin-bottom: 14px;

}

#thumbnail-student{
    background-color: #FFF;
    border-radius: 2px;
    box-shadow: 0px 1px 5px 0px rgba(56, 61, 72, 0.21);
    margin-bottom: 14px;
}

#thumbnail-student-img
{
margin: 5px 5px 5px 5px;
height:70px;
width:70px;
border-top-left-radius: 2px;
border-top-right-radius: 2px;
border-bottom-right-radius: 2px;
border-bottom-left-radius: 2px;
}

.profile-student-img
{
margin: 5px 5px 5px 5px;
height:50px;
width:50px;
border-top-left-radius: 2px;
border-top-right-radius: 2px;
border-bottom-right-radius: 2px;
border-bottom-left-radius: 2px;
}


#greetings-student
{
	display:inline-block;
	padding:1px;
}

#student-post-title-fixed
{

	position:fixed;
	top:102px;
	width:inherit;
	z-index:10;

}


#student-post-title
{
padding: 15px 20px;
border-bottom: 1px solid #DFE4E8;
border-radius: 2px 2px 2px 2px;
box-shadow: 0px 1px 5px 0px rgba(56, 61, 72, 0.21);
background: rgba(204, 204, 255, .9);
font: 18px Helvetica Neue,Helvetica,Arial,sans-serif;
color: #333;
margin: 0px;
padding: 0px;

width:700px;
height:30px;
}

#student-post-container-relative
{
	margin-bottom: 14px;
	position:relative;
	top:45px;
	width:inherit;


}

#student-post-container
{
background-color: transparent;
border-radius: 2px;
box-shadow: 0px 1px 5px 0px rgba(56, 61, 72, 0.21);
width:700px;
}

#student-message-container
{
	width:700px;

}

/*Student-Exercise-Page*/
#student-exercise-title-fixed
{
	position:fixed;
	top:102px;
	width:inherit;
	z-index:10;
}

#student-exercise-title
{
	padding: 15px 20px;
	border-bottom: 1px solid #DFE4E8;
	border-radius: 2px 2px 2px 2px;
	box-shadow: 0px 1px 5px 0px rgba(56, 61, 72, 0.21);
	background: rgba(204, 204, 255, .9);
	font: 18px Helvetica Neue,Helvetica,Arial,sans-serif;
	color: #333;
	margin: 0px;
	padding: 0px;

	width:700px;
	height:30px;
}

#student-exercise-container-relative
{
	margin-bottom: 14px;
	position:relative;
	top:35px;
	width:inherit;
}

#student-exercise-container
{
	background-color: transparent;
	border-radius: 2px;
	box-shadow: 0px 1px 5px 0px rgba(56, 61, 72, 0.21);
	width:700px;
}

#student-exercise
{
	background-color: #FFF;
    border-radius: 2px;
    box-shadow: 0px 1px 5px 0px rgba(56, 61, 72, 0.21);
    margin-bottom: 18px;
}

/*#question-container
{
	background-color: #FFF;
    border-radius: 2px;
    box-shadow: 0px 1px 5px 0px rgba(56, 61, 72, 0.21);
    margin-bottom: 14px;
}*/
#answer-box
{
 -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
/**Parent Page**/
#parent-container
{
background-color: transparent;
border-radius: 2px;
box-shadow: 0px 1px 5px 0px rgba(56, 61, 72, 0.21);
margin-bottom: 14px;

}

#parent-title
{
padding: 15px 20px;
background-color: #FFF;
border-bottom: 1px solid #DFE4E8;
border-radius: 2px 2px 0px 0px;
box-shadow: 0px 1px 5px 0px rgba(56, 61, 72, 0.21);

    font: 20px Helvetica Neue,Helvetica,Arial,sans-serif;
    color: #383D48;
    margin: 0px;
    padding: 0px;
}

.parent-page-space
{
	background-color: #FFF;
    border-radius: 2px;
    box-shadow: 0px 1px 5px 0px rgba(56, 61, 72, 0.21);
    margin-bottom: 14px;

}
.progress-img
{
margin: 5px 5px 5px 5px;
height:500px;
width:700px;
border-top-left-radius: 2px;
border-top-right-radius: 2px;
border-bottom-right-radius: 2px;
border-bottom-left-radius: 2px;
}

#thumbnail-parent{
    background-color: #FFF;
    border-radius: 2px;
    box-shadow: 0px 1px 5px 0px rgba(56, 61, 72, 0.21);
    margin-bottom: 14px;
}

#thumbnail-parent-img
{
margin: 5px 5px 5px 5px;
height:70px;
width:70px;
border-top-left-radius: 2px;
border-top-right-radius: 2px;
border-bottom-right-radius: 2px;
border-bottom-left-radius: 2px;
}

#greetings-parent
{
	display:inline-block;
	padding:1px;
}

#profile-parent-img
{
margin: 5px 5px 5px 5px;
height:50px;
width:50px;
border-top-left-radius: 2px;
border-top-right-radius: 2px;
border-bottom-right-radius: 2px;
border-bottom-left-radius: 2px;
}

/**.msgbox_container
{
width: 600px;

}
**/

.msgbox_innercont
{
width: 600px;
}


/** Post Lecture - Create Exercise**/
.ui-group-buttons .or{position:relative;float:left;width:.3em;height:1.3em;z-index:3;font-size:12px}
.ui-group-buttons .or:before{position:absolute;top:50%;left:50%;content:'or';background-color:#5a5a5a;margin-top:-.1em;margin-left:-.9em;width:1.8em;height:1.8em;line-height:1.55;color:#fff;font-style:normal;font-weight:400;text-align:center;border-radius:500px;-webkit-box-shadow:0 0 0 1px rgba(0,0,0,0.1);box-shadow:0 0 0 1px rgba(0,0,0,0.1);-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box}
.ui-group-buttons .or:after{position:absolute;top:0;left:0;content:' ';width:.3em;height:2.84em;background-color:rgba(0,0,0,0);border-top:.6em solid #5a5a5a;border-bottom:.6em solid #5a5a5a}
.ui-group-buttons .or.or-lg{height:1.3em;font-size:16px}
.ui-group-buttons .or.or-lg:after{height:2.85em}
.ui-group-buttons .or.or-sm{height:1em}
.ui-group-buttons .or.or-sm:after{height:2.5em}
.ui-group-buttons .or.or-xs{height:.25em}
.ui-group-buttons .or.or-xs:after{height:1.84em;z-index:-1000}
.ui-group-buttons{display:inline-block;vertical-align:middle}
.ui-group-buttons:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.ui-group-buttons .btn{float:left;border-radius:0}
.ui-group-buttons .btn:first-child{margin-left:0;border-top-left-radius:.25em;border-bottom-left-radius:.25em;padding-right:15px}
.ui-group-buttons .btn:last-child{border-top-right-radius:.25em;border-bottom-right-radius:.25em;padding-left:15px}


.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-primary.btn-outline:hover,


.exercise-container
{

/*	position:relative;
	top:30px;
    background: url('../res/background.jpg');
    background-repeat:  no-repeat; 
	background-position: center center; 
	background-attachment:fixed;
	background-size : 100% 100%;

    scrollbar-face-color : RGB(70, 70, 70);
	scrollbar-shadow-color: black;
	scrollbar-track-color: RGB(140, 140, 140);
	scrollbar-arrow-color: RGB(50, 50, 50);
	margin: 0px auto;
	width:960px;
	border: 1px solid white;
    border-radius: 10px;*/
background-color:   rgba(144, 166, 202, 0.6);
border-top: 3px solid #778492;
border-bottom:5px solid #778492;
-webkit-border-radius: 20px;
-moz-border-radius: 10px;
-ms-border-radius: 10px;
-o-border-radius: 10px;
border-radius: 10px;



}
/** Login - Clear**/
.btn{
    margin: 4px;
    box-shadow: 1px 1px 5px #888888;
}

.btn-xs{
    font-weight: 300;
}

.btn-fresh {
color: #fff;
background-color: #51bf87;
border-bottom:2px solid #41996c;
}

.btn-fresh:hover, .btn-sky.active:focus, .btn-fresh:focus, .open>.dropdown-toggle.btn-fresh {
color: #fff;
background-color: #66c796;
border-bottom:2px solid #529f78;
outline: none;
}


.btn-fresh:active, .btn-fresh.active {
color: #fff;
background-color: #47a877;
border-top:2px solid #39865f;
outline: none;
outline-offset: none;
margin-top: 2px;
}

.btn-sky {
color: #fff;
background-color: #0bacd3;
border-bottom:2px solid #098aa9;
}

.btn-sky:hover,.btn-sky.active:focus, .btn-sky:focus, .open>.dropdown-toggle.btn-sky {
color: #fff;
background-color: #29b6d8;
border-bottom:2px solid #2192ad;
outline: none;
}

.btn-sky:active, .btn-sky.active {
color: #fff;
background-color: #0a97b9;
border-top:2px solid #087994;
outline-offset: none;
margin-top: 2px;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus {
    outline: none;
    outline-offset: 0px;
}


/**onlineExerMenu**/

.onlineExerMenu{
     margin: 10px 10px 10px 10px;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s; /* Safari */
    }

.onlineExerMenu:hover {
	cursor: pointer;
	-webkit-transform: scale(1.5, 1.5);
    -ms-transform: scale(1.5, 1.5);
    transform: scale(1.5, 1.5);
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s; /* Safari */
    box-shadow: 10px 10px 5px #888888;
    z-index: 1;
    }
.center-exercise
{
	position:relative;
	left:300px;
}

.questionModel, .choicesModel, .correctModel, .exerciseName
{
	background-color: #87CEEB;
	border-radius: 10px;
	border: 1px solid #222;
	font-size: 16px;
	font-weight: normal;
	padding: 10px 20px;
	width: 100%;
	line-height: normal;
	margin: 0;
	vertical-align: baseline;
	font-family: Arial, Helvetica, sans-serif;
	color: #222;
	box-sizing: border-box;
	-webkit-appearance: textfield;
	-webkit-rtl-ordering: logical;
	-webkit-user-select: text;
	cursor: auto;
	font: -webkit-small-control;
	color: initial;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	text-indent: 0px;
	text-shadow: none;
	display: inline-block;
	text-align: start;
	-webkit-writing-mode: horizontal-tb;
	text-shadow: none;
	
	
}


/*Teacher's Page Side Bar custom*/
/*.active-subjectmenu{

background-color: rgba(157, 205, 255, 0.5);
border: 1px solid transparent;
border-radius: 4px;
-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);

}*/

/*.subjectmenu-hover{

background-color: rgba(187, 181, 207, 0.4);
border: 1px solid transparent;
border-radius: 4px;
-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}*/

.navbar-static-top {
  margin-bottom:20px;
}

i {
  font-size:16px;
}

.nav > li > a {
  color:#787878;
}
  
footer {
  margin-top:20px;
  padding-top:20px;
  padding-bottom:20px;
  background-color:#efefef;
}

/* count indicator near icons */
.nav>li .count {
  position: absolute;
  bottom: 12px;
  right: 6px;
  font-size: 9px;
  background: rgba(51,200,51,0.55);
  color: rgba(255,255,255,0.9);
  line-height: 1em;
  padding: 2px 4px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

/* indent 2nd level */
.list-unstyled li > ul > li {
   margin-left:10px;
   padding:8px;
}
/*Account Settings*/
.account-settings-header {
  background-color: rgba(210, 224, 255, 0.8);
  border-top: 3px solid #778492;
  border-bottom:5px solid #778492;
  -webkit-border-radius: 20px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;

}
.profile-image
{
	margin: 5px 5px 5px 5px;
	height:120px;
	width:120px;
}
.profile-content {
    float: left;
    margin-left:10px;
  }
.account-name
{
	box-sizing: border-box;
	color: #49515B;
	font-family: "Montserrat",sans-serif;
	font-size: 38px;
	font-weight: 700;
	line-height: 41.8px;
	margin-bottom: 5px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 30px;

}
.account-name-small
{
	box-sizing: border-box;
	color: #434343;
	font-family: "Lato",arial,sans-serif;
	font-size: 20px;
	line-height: 22.85px;
	margin-bottom: 10px;
	margin-left: 0px;
	margin-top: 0px;
	padding-left: 0px;

}
.sections-wrapper {
  padding-top: 0px;
  padding-bottom: 2px;
}

.section-inner {
  background-color:  rgba(173, 204, 255, 0.7);
  border-bottom:3px solid #778492;
  -webkit-border-radius: 20px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;

}
/*Parent Page*/
.profile-parent-img
{
margin: 5px 5px 5px 5px;
height:50px;
width:50px;
border-top-left-radius: 2px;
border-top-right-radius: 2px;
border-bottom-right-radius: 2px;
border-bottom-left-radius: 2px;
}

.p-sections-wrapper {
  padding-top: 0px;
  padding-bottom: 2px;
}
.p-section-inner
{
	background-color:rgba(255, 255, 255, 0.8);
	  border-bottom:3px solid #778492;
	  -webkit-border-radius: 20px;
	  -moz-border-radius: 5px;
	  -ms-border-radius: 5px;
	  -o-border-radius: 5px;
	  border-radius: 5px;
}
.p-right-section-inner
{
	background-color:rgba(244, 253, 255, 0.8);
	  border-bottom:3px solid #778492;
	  -webkit-border-radius: 20px;
	  -moz-border-radius: 5px;
	  -ms-border-radius: 5px;
	  -o-border-radius: 5px;
	  border-radius: 5px;
}
.parent-students
{
	height:60px;
	margin-bottom: 2px;
}
#parent-student-title
{
	padding: 5px;
	background-color: #efefef;
	border-radius: 2px 2px 2px 2px;
	overflow: visible;
}
.parent-student-thumbnail
{

margin: 5px 5px 5px 5px;
height:50px;
width:50px;
border-top-left-radius: 2px;
border-top-right-radius: 2px;
border-bottom-right-radius: 2px;
border-bottom-left-radius: 2px;
vertical-align:middle;
float:left;

}
.parent-student-name
{	
	padding:1px;
}

.parent-student-progress-link
{	
	padding:1px;

}

#parent-teacher-title
{
	padding: 5px;
	background-color: #efefef;
	border-radius: 2px 2px 2px 2px;
	overflow: visible;
}
.parent-teachers
{
	min-height:70px;
	margin-bottom: 2px;
}
.parent-teacher-thumbnail
{

margin: 5px 5px 5px 5px;
height:55px;
width:55px;
border-top-left-radius: 2px;
border-top-right-radius: 2px;
border-bottom-right-radius: 2px;
border-bottom-left-radius: 2px;
vertical-align:middle;
float:left;

}
.parent-teacher-name
{
	padding:1px;
}
.parent-teacher-subject
{
	padding:1px;
}
/*Progress Page Headers*/
.progress-period {
  background-color: rgba(210, 224, 255, 0.9);
  border-right: 3px solid #778492;
  border-bottom:4px solid #778492;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  font-family: "Montserrat",sans-serif;
  font-size: 18px;
  padding:3px;

}
.progress-container-relative
{
	margin-bottom: 14px;
	position:relative;
	top:60px;
	width:inherit;
}

.progress-header{

 	box-sizing: border-box;
	color: #49515B;
	font-family: "Montserrat",sans-serif;
	font-size: 38px;
	font-weight: 700;
	line-height: 41.8px;
	margin-bottom: 5px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	background-color:rgba(255, 255, 255, 0.9);
  	border-right:3px solid #778492;
  	border-bottom:3px solid #778492;
  	-webkit-border-radius: 20px;
  	-moz-border-radius: 5px;
  	-ms-border-radius: 5px;
  	-o-border-radius: 5px;
  	border-radius: 5px;
  	padding:4px;
  	position:fixed;
	z-index:40;
	width : 700px;


}

@media screen and (max-width: 377px) {
    h3 {
        font-size:16px;
    }
}